body {
  width: 600px;
  height: 600px;
  background-color: #cfaeae;
  padding: 10px;
}

button {
  background: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px 12px;
}
button:hover {
  background: red;
  color: white;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}